body {
    font-weight: 300;
    font-size: 1.1em;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    font-weight: 200;
}


/*
=====================
Header
=====================
*/

header {
    background: url(../images/header.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 771px;
}

.menu_bar {
    background-color: #222222;
}

header .navbar-inverse {
    margin-top: 20px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

header .navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
}

header .navbar-inverse .navbar-nav>li>a:hover {
    color:#ff0000;
}


/*header_content*/

header .header_content {
    margin-top: 120px;
}

header .header_content .header_title h1 {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 30px;
}

header .header_content .header_title p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    font-family: sans-serif;
    margin-bottom: 30px;
}

header .download_btn .btn-default {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #fff;
    color: #fff;
}

header .download_btn .btn-default:hover {
    background-color: rgba(10, 1, 0, .5);
    color: #fff;
}


/*form_content*/

header .form_content {
    margin-top: 145px;
    background-color: white;
}

header .form_content .form_bar {
    padding: 10px 30px;
}

header .form_content .form_title h4 {
    color: #333;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 17px 10px;
    background-color: #F5F5F5;
}

header .form_content .get_start p {
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 17px 10px;
    background-color: #FD9A50;
}

header .form_content .get_start p a {
    text-decoration: none;
    color: #fff;
}

header .form_bar .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    border-top: 0 !important;
    border-bottom: 1px solid #D6D6D6;
    box-shadow: none !important;
    color: #000;
}

header .form_bar .form-control::-webkit-input-placeholder {
    color: #D6D6D6;
}

header .form_bar .form-control::-moz-placeholder {
    color: #D6D6D6;
}

header .form_bar .form-control:-moz-placeholder {
    color: #D6D6D6;
}

header .form_bar .form-control::-ms-placeholder {
    color: #D6D6D6;
}


/*
=====================
Social Media
=====================
*/

.social {
    background-color: white;
    box-shadow: 0 1px 2px #333;
    margin-bottom: 3px;
}

.social_icons a {
    display: inline-block;
    padding: 32px 21px;
}

.social_icons a i {
    font-size: 50px;
    color: #CCCCCC;
}

.social_heading h3 {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    font-family: sans-serif;
}

.social_heading p {
    font-size: 14px;
    font-weight: 400;
    color: #CCCCCC;
    font-family: sans-serif;
}


/*
=====================
Feature Content
=====================
*/

.feature_content {
    background: url(../images/feature_content.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 595px;
}

.tabs_content .nav-stacked>li>a {
    padding: 23px 15px;
    background-color: #333333;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
}

.tabs_content {
    margin-top: 148px;
}

.feature_data {
    margin-top: 148px;
}

.feature_data_text h1 {
    font-size: 20px;
    font-weight: bold;
    color: #222;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 20px;
}

.feature_data_text p {
    font-size: 14px;
    font-weight: 400;
    color: #222;
    font-family: sans-serif;
    margin: 0;
    line-height: 20px;
    margin-bottom: 20px;
}

.feature_download .btn-default {
    background-color: #FF8B38;
    color: #FFF;
    border-radius: 0px;
    border: 0px;
    color: #fff;
}

.feature_download .btn-default:focus {
    background-color: #FF8B38;
    color: #fff;
}


/*
=====================
sublist
=====================
*/

.sublist {
    height: 600px;
    background-color: #fff;
}

.sub_img,
.sub_data {
    margin-top: 127px;
}

.sub_data h2 {
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.sub_data p {
    font-size: 14px;
    font-weight: 300;
    color: #ccc;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.sub_icon a {
    width: 40px;
    height: 40px;
    display: block;
    border: 2px solid #FF8B38;
    border-radius: 50%;
    text-align: center;
}

.sub_data_content {

    margin-bottom: 20px;
    display: inline-block;

}
.sub_icon a i {
    font-size: 20px;
    color: #FF8B38;
    margin-top: 8px;
}

.sub_text {
    margin-left: 30px;
}

.sub_text h4 {
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    color: #333;
    margin: 0;
}

.sub_text p {
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
    color: #95969a;
}

.border {
    position: relative;
    display: inline-block;
}

.border:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 100%;
    width: 50%;
    height: 2px;
    background-color: #FF8B38;
    margin: 10px 0;
}


/*
=====================
Standard Feature
=====================
*/

.stander_feature {
    background-image: url('../images/standard_section.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 524px;
}

.standard_data,
.standard_img {
    margin-top: 104px;
}

.standard_data h3 {
    font-size: 20px;
    font-weight: 600;
    color: #212121;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.standard_data p{
    font-size: 14px;
    font-weight: 300;
    color:#606060;
    font-family: sans-serif;
    margin-bottom: 20px;
}


/*
=====================
Service
=====================
*/

.service {
    min-height: 594px;
    background-color: #fff;
}

.service_title {
    margin-top: 105px;
}

.service_title h1 {
    font-size: 36px;
    font-weight: 500;
    color: #222;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.service_title p {
    font-size: 14px;
    font-weight: 500;
    color: #c8c9ca;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.service_border {
    position: relative;
    display: inline-block;
}

.service_border:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 50%;
    height: 2px;
    background-color: #FF8B38;
    margin: 10px auto;
    text-align: center;
}

.service_data_area {
    margin-top: 50px;
}

.service_content {
    text-align: center;
}

.service_icon a {
    width: 69px;
    height: 69px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #FF8B38;
}

.service_icon a i {
    font-size: 30px;
    margin-top: 17px;
    color: #FF8B38;
}

.service_data_text h2 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.service_data_text p {
    font-size: 14px;
    color: #86878B;
    font-weight: 200;
    font-family: sans-serif;
    margin-bottom: 30px;
}


/*
=====================
Pricing
=====================
*/

.price_content {
    background-image: url('../images/pricing_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 883px;
}

.price_title h2 {
    font-size: 36px;
    font-weight: 500;
    font-family: sans-serif;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.price_title p {
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: #86878B;
    margin-bottom: 81px;
}

.basic_package,
.professional_package,
.enterprise_package {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 2px;
}

.basic,
.enterprise {
    margin-top: 42px;
}


/*
All box price box
*/

.basic,
.enterprise,
.professional {
    background-color: white;
    box-shadow: 0 0 10px 1px #ccc;
}


/*
=====================
basic_package
=====================
*/

.basic_package h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}

.basic_price {
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-bottom: 5px solid #FF8B38;
    padding: 1px 0px;
}

.basic_price p {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family: sans-serif;
}

.basic_price .free {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}


/*Use it in all price table*/

.table_text {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #FFFFFF;
    color: #95969A;
}

.price_text_size {
    font-size: 94px;
    color: #fff;
}


/*
=====================
Professional
=====================
*/

.professional_package h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}

.professional_price {
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 1px 0px;
}

.professional_price p {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family: sans-serif;
}

.professional_price .monthly_pay {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

.sub_title p {
    text-align: center;
    font-size: 14px;
    background-color: #FF8B38;
    padding: 14px 0px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}


/*
=====================
Enterprise
=====================
*/

.enterprise_package h3 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: sans-serif;
}

.enterprise_price {
    background-color: #333333;
    color: #fff;
    text-align: center;
    border-bottom: 5px solid #FF8B38;
    padding: 1px 0px;
}

.enterprise_price p {
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    font-family: sans-serif;
}

.enterprise_price .monthly_pay {
    font-size: 14px;
    color: #666666;
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

.sub_title p {
    text-align: center;
    font-size: 14px;
    background-color: #FF8B38;
    padding: 14px 0px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}


/*
=====================
Carousel
=====================
*/

.carousel-control.left,
.carousel-control.right {
    background: none;
    width: 25px;
}

.carousel-control.left {
    left: -25px;
}

.carousel-control.right {
    right: -25px;
}


.block-text {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 0 #2c2222;
    color: #626262;
    font-size: 14px;
    margin-top: 27px;
    padding: 15px 18px;
}

.block-text a {
    color: #7d4702;
    font-size: 25px;
    font-weight: bold;
    line-height: 21px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.mark {
    padding: 12px 0;
    background: none;
}

.block-text p {
    color: #585858;
    font-family: Georgia;
    font-style: italic;
    line-height: 20px;
}

.sprite {
    background-image: url('');
}

.sprite-i-triangle {
    background-position: 0 -1298px;
    height: 44px;
    width: 50px;
}

.block-text ins {
    bottom: -44px;
    left: 50%;
    margin-left: -60px;
}

.block {
    display: block;
}

.in_x {
    z-index: 1;
}

.sab {
    position: absolute;
}

.person-text {
    padding: 10px 0 0;
    text-align: center;
    z-index: 2;
}

.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}

.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}

.rel {
    position: relative;
}


/*
=====================
Testimonial
=====================
*/

.testimonial {
    background-color:#fff;
    min-height: 588px;
}

.testimonial_title h1 {
    font-size: 36px;
    font-weight: 500;
    color: #333;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 50px;
}

.testimonial_title p {
    font-size: 14px;
    color: #ccc;
    font-family: sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}


/*
=====================
Axure Design
=====================
*/

.axure {
    background-image: url('../images/axure_design.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 320px;
}

.axure_content h1 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top: 72px;
}

.axure_content p {
    color: #95969A;
    font-weight: 500;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.axure_border {
    position: relative;
    display: inline-block;
}

.axure_border:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 50%;
    height: 2px solid #fff;
    background-color: white;
    margin: 10px auto;
}

.axure_download .btn-default {
    background-color: transparent;
    color: #fff;
    border-radius: 0px;
    border: 2px solid #fff;
    padding: 10px 40px;
    font-size: 15px;
}

.axure_download .btn-default:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}


/*
=====================
Contact
=====================
*/

.contact {
    min-height: 614px;
    background-color: #ffffff;
}

.contact_info {
    margin-top: 60px;
}

.contact_info h1 {
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 36px;
}

.contact_info p {
    color: #86878B;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 50px;
}

.contact_border {
    position: relative;
    display: inline-block;
}

.contact_border:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 50%;
    height: 2px;
    background-color: #FF8B38;
    margin: 10px auto;
}


/*
============
Form
============
*/

.contact_form .form-control {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    border-bottom: 1px solid gray;
}

.contact_form_gap {
    margin-bottom: 64px;
}

.send_button .btn-default {
    background-color: #FF8B38;
    border: 0;
    padding: 10px 28px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
}

.send_button .btn-default:hover {
    background-color: #FF8B38;
    color: #fff;
}


/*
=====================
Footer
=====================
*/

footer {
    background-color: black;
}

.footer_content {
    margin-top: 20px;
}

.footer_content .footer_social_icons a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    color: #fff;
    text-align: center;
}

.footer_content .footer_social_icons a i {
    font-size: 20px;
    color: #CCCCCC;
    padding: 10px 10px;
}

.copyright p {
    font-size: 12px;
    font-family: sans-serif;
    color: #606060;
    font-weight: 200;
}